<!DOCTYPE html>
 <html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <%- include('header'); %>
         <div class="container mt-5"> 
        <table id="table1" class="table table-stripped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>phone</th>
                    <th>role</th>
                    <th>Creation Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(user,index) { %>
                    <tr>
                        <td><%= index+1 %> </td>
                        <td><%= user.fullnames %></td>
                        <td><%= user.username %></td>
                        <td><%= user.phone %></td>
                        <td><%= user.role %></td>
                        <td><%= user.createdAt %></td>
                        <td>edit delete</td>
                
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
        
    </body>
    <%- include('footer') %> 

</html>
