        <%- include('header'); %>
         <div class="container mt-5"> 
        <table id="table1" class="table table-stripped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>phone</th>
                    <th>role</th>
                    <th>Creation Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(user,index) { %>
                    <tr>
                        <td class="id"><%= index+1 %> </td>
                        <td><%= user.fullnames %></td>
                        <td><%= user.username %></td>
                        <td><%= user.phone %></td>
                        <td><%= user.role %></td>
                        <td><%= user.createdAt %></td>
                    
                        <td><button class="btn btn-warning" id="update" data-toggle="modal" data-target="#myModal">Edit</button></td>
                
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
        
    </body>
    <%- include('footer') %> 
    <%- include('BSModals/user.ejs'); %> 
</html>
<script type="text/javascript">
$(document).ready(()=>{ 
    $(".btn.btn-warning").click(function (e) {
        e.preventDefault();
        const values = [];
        $(this).closest('tr').find('td').each(function() {           
            values.push($(this).text());                            
        });
        $("#fullnames").val(values[1]);
        $('#username').val(values[2]);
        $('#phone').val(values[3]);
        $('#role').html(`<option>${values[4]}</option>`);       
    });
});
</script>

